/* CLASS IN INDEX.HTML */
.game-crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* CLASS CREATED IN GAME.JS */
.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}